<%= render :partial => "layouts/header" -%>
<body>
<div class="main">
  <div class="page">
    <%= render :partial => "layouts/top_nav" -%>
    <%= render :partial => "layouts/search" -%>
    <div class="underFold">
      <div class="MabInfo Left" id="Mab_Info">
        <div class="Container">
	    <%= content_for :left -%>
	</div>
      </div>
      <div class="GASzone BigAds Left" style="width:322px;height:250px;">
        <%= content_for :right -%>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "layouts/footer" -%>
