<%= render :partial => "layouts/header" -%>
<body>
<div class="main">
  <div class="page">
    <%= render :partial => "layouts/top_nav" -%>
    <%= render :partial => "layouts/search" -%>
    <div class="underFold">
      <div class="MovieDetails Left" id="Movie_Details">
        <div class="Container">
          <div class="FullSynopsis">
	    <%= content_for :left -%>
	  </div>
	</div>
      </div>
        <%= content_for :right -%>
    </div>
  </div>
</div>
<%= render :partial => "layouts/footer" -%>
